
<div class="">
  <div class="row" style="margin-left: 100px; margin-right: 100px;">
    <br>
    <div class="col m12">
      <div class="input-field col m8">
        <input type="number" id="entry" ng-model="entry" min="1" class="form-control" required>
        <label for="entry">Numero de lanzamientos</label>
      </div>
      <div class="input-field col m4">
        <button class="btn btn-md btn-default" type="button" ng-click="calculate()">Calcular!</button>
      </div>
    </div>
  </div>
  <div class="row" style="margin-left: 100px; margin-right: 100px;">
    <div class="col m6">
      <div class="card">

        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
        </canvas>
      </div>
    </div>
    <div class="col m6">
      <div class="card">
        <div  ng-if="lanzamientos" class="panel panel-default">
          <div class="panel-heading"></div>
          <table class="centered">
            <thead>
              <tr>
                <th>Caras</th>
                <th>Frecuencia Absoluta</th>
                <th>Probabilidad</th>
              </tr>
            </thead>

            <tbody>
              <tr data-ng-repeat="item in serieAnterior track by $index">
                <td>Cara {{$index+1}}</td>
                <td>{{item}}</td>
                <td>{{(item/lanzamientos) | porcentajeFilter : 2}}</td>
              </tr>
            </tbody>
          </table>
          {{Lanzamientos}}
        </div>
      </div>
    </div>
  </div>
</div>
